.App {
  text-align: center;
}

.nav-logo {
  height: 10vmin;
  pointer-events: none;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #454547;
  color: white;
  text-align: center;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #F0861D;
}

.nav-links a {
  color: #F0861D;
  text-decoration: none;
}

.nav-links a:visited {
  color: white;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #454547;
  color: white;
}

.footer-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #F0861D;
}

